@mixin transition($x) {
  transition: $x;
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
}

button {
  border-radius: 5px;
  border: 1px gray solid;
}

.slider {
  width: 150px;
  position: relative;
  display: inline-block;
  span {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  @include transition(opacity 0.15s ease-in-out);
  &.mouseover {
    span {
      opacity: 0.1;
    }
    input {
      opacity: 1;
    }
  }

  input {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    margin: 0;

    opacity: 0.2;
    height: 5px;
    border-radius: 5px;
    outline: none;
    @include transition(opacity 0.15s ease-in-out);
    background: #555;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      appearance: none;
      width: 12px;
      height: 12px;
      background: #00a;
      border: none;
      cursor: pointer;
    }
  }
}
